<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-searchbar autocomplete="on" placeholder="Find Location"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="mapId" style="width: 100%; height: 100%">
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <!-- Refresh current status -->
            <ion-fab-button color="light">
              <ion-icon name="sync"></ion-icon>
            </ion-fab-button>
             <!-- current location -->
             <ion-fab-button color="light">
                <ion-icon name="locate"></ion-icon>
            </ion-fab-button>
             <!-- nearest evacuation location -->
             <ion-fab-button color="light">
                <ion-icon name="pin"></ion-icon>
            </ion-fab-button>
            <!-- Safest path -->
            <ion-fab-button color="light">
                <ion-icon name="navigate"></ion-icon>
            </ion-fab-button>
           
          </ion-fab-list>
      </ion-fab>
    
</ion-content>
