<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
    <img src="assets/img/dhra.jpg"/>

    <h1 class="text-align">DHARA TEAM</h1>
    <div class="ionjustify">
    <p>We are a group of undergraduates at SLIIT. As a part of our research, Dhara flood assistance mobile appplication was developed.</p>
    </div>
    <p>Provide your feedbacks to:</p> 
    <h5 class="text-align">dharamobile@gmail.com</h5>
</ion-card>
</ion-content>
