.temp{
    font-size: 90px;
    text-align: center;
    font-weight: normal;
}

.icon,.desc{

    text-align: center;
}

ion-content{

    --ion-background-color:#7da6f3;
    --ion-text-color:#ffff;
    
}